﻿
@{
    ViewBag.Title = "Cennik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2 class="panel-heading" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Cennik naszych usług</h2>
</center>

<table class="table table-striped table-hover table-responsive">
    <tr>
        <th style="border-top-left-radius: 15px; font-size: 18px; text-align: center">
            Nazwa usługi
        </th>
        <th style="font-size: 18px; text-align: center">
            Cena / przedział cenowy
        </th>
        <th style="border-top-right-radius: 15px; font-size: 18px;"></th>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Konsultacja stomatologiczna + przegląd
        </td>
        <td style="text-align:center">
            50
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Wypstawienie recepty
        </td>
        <td style="text-align:center">
            30
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Znieczulenie miejscowe
        </td>
        <td style="text-align:center">
            35
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Zdjęcie RTG (1 ząb)
        </td>
        <td style="text-align:center">
            40
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Opatrunek leczniczy
        </td>
        <td style="text-align:center">
            30 - 100
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Wypełnienie światłoutwardzalne
        </td>
        <td style="text-align:center">
            125 - 250
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Leczenie kanałowe (1 kanał - 4 kanały)
        </td>
        <td style="text-align:center">
            325 - 1200
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Odbudowa zęba po leczeniu kanałowym
        </td>
        <td style="text-align:center">
            200 - 400
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Skaling (usuwanie kamienia nazębnego)
        </td>
        <td style="text-align:center">
            80
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Polishing (usunięcie osadu)
        </td>
        <td style="text-align:center">
            50
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Piaskowanie
        </td>
        <td style="text-align:center">
            100
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align:center">
            Wybielanie nakładkowe
        </td>
        <td style="text-align:center">
            750
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.86)">
        <td style="text-align:center">
            Licówka kompozytowa
        </td>
        <td style="text-align:center">
            350 - 700
        </td>
        <td></td>
    </tr>
    <tr style="background-color: rgba(7, 93, 86, 0.70)">
        <td style="text-align: center; border-bottom-left-radius: 15px">
            Licówka porcelanowa
        </td>
        <td style="text-align: center">
            1250 - 1800
        </td>
        <td style="border-bottom-right-radius: 15px"></td="border-bottom-right-radius:>
    </tr>
</table>