﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <Center>
        <h1>Centrum Stomatologii NOVA</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
    </Center>
    @*<div class="carousel">
        <ol class="carousel-indicators">
            <li data-target="" data-slide-to="0" class="active"></li>
            <li data-target="" data-slide-to="1"></li>
            <li data-target="" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <center>
                    <img src="https://21494dc99b6f931a50cf-af837cc28e8ab00dcef4cfe37df5fc00.ssl.cf3.rackcdn.com/7f0ddee0545c11e8923b0112cc06268d_shutterstock_358265852.jpg" />
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Centrum Stomatologii NOVA</h1>
                            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                            <p><a href="https://asp.net" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </center>
            </div>

        </div>
        <center>
            <h1>Centrum Stomatologii NOVA</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
        </center>
    </div>*@
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Profesjonalna kadra</h3>
            <div class="panel-body">
                <p>
                    O Twój zdrowy, piękny uśmiech zadbają prawdziwi mistrzowie w swoim fachu - najwyższy poziom usług stomatologicznych zapewni profesjonalna, wykształcona kadra lekarska.
                </p>
                <p align="center"><a class="btn btn-warning" href='@Url.Action("MainPanelAdministrator", "Administrator")'>Nasi lekarze &raquo;</a></p>
            </div>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Atrakcyjne ceny usług</h3>
            <div class="panel-body">
                <p>Centrum NOVA oferuje szeroki zakres kompleksowych usług stomatologicznych w niewygórowanych cenach - od pielęgnacji, przez wybielanie i leczenie, po implantację.</p>
                <p align="center"><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301866">Nasz cennik &raquo;</a></p>
            </div>
        </center>

    </div>
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Rezerwacja wizyt online</h3>
            <div class="panel-body">
                <p>Posiadając konto w naszym portalu, możesz dokonywać rezerwacji i odwoływania wizyt u wybranych stomatologów za pomocą kilku kniknięć. Sprawdź:</p>
                <p align="center"><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Zaloguj się &raquo;</a></p>
            </div>
        </center>
    </div>
</div>